*.o
*.o.*

*.a

*.elf
*.elf.*

*.bin

*.so
*.so.*

*.out

*.iso

lib/

alonira.iso

boot/boot/hyper/hyper_iso_boot
boot/boot/limine/limine-cd.bin
boot/boot/limine/limine.sys
boot/boot/alonira.elf.64

documentation/
!build/documentation/

.bochsrc

.vscode/
.idea/

*.DS_STORE
