[submodule "alonira/vendor/limine"]
	path = alonira/vendor/limine
	url = https://github.com/limine-bootloader/limine
[submodule "alonira/vendor/stivale"]
	path = alonira/vendor/stivale
	url = https://github.com/stivale/stivale
