*.o
*.o.*

*.a
*.a.*

*.elf
*.elf.*

*.so
*.so.*

*.bin

*.out

*.img
*.iso

lib/

alonira.iso

boot/boot/hyper/hyper_iso_boot
boot/boot/alonira.elf.64

documentation/
!build/documentation/

.bochsrc

.vscode/
.idea/

*.DS_STORE
