[submodule "alonira/vendor/limine"]
	path = alonira/vendor/limine
	url = https://github.com/limine-bootloader/limine
[submodule "alonira/vendor/stivale"]
	path = alonira/vendor/stivale
	url = https://github.com/stivale/stivale
[submodule "alonira/vendor/ultra"]
	path = alonira/vendor/ultra
	url = https://github.com/UltraOS/UltraProtocol
[submodule "alonira/vendor/hyper"]
	path = alonira/vendor/hyper
	url = https://github.com/UltraOS/Hyper
