[submodule "alonira/vendor/Genstone"]
	path = alonira/vendor/Genstone
	url = https://github.com/Th3T3chn0G1t/Genstone
[submodule "alonira/vendor/Hyper"]
	path = alonira/vendor/Hyper
    ignore = untracked
	url = https://github.com/UltraOS/Hyper
